In [3]:
import pandas as pd

df = pd.read_csv('train_preprocess.tsv', delimiter='\t', header=None, )
df.columns=['text', 'label']
df

                                                    text     label
0      warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1      mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2      lokasi strategis di jalan sumatera bandung . t...  positive
3      betapa bahagia nya diri ini saat unboxing pake...  positive
4      duh . jadi mahasiswa jangan sombong dong . kas...  negative
...                                                  ...       ...
10995                                       tidak kecewa  positive
10996  enak rasa masakan nya apalagi kepiting yang me...  positive
10997        hormati partai-partai yang telah berkoalisi   neutral
10998  pagi pagi di tol pasteur sudah macet parah , b...  negative
10999  meskipun sering belanja ke yogya di riau junct...  positive

[11000 rows x 2 columns]

In [39]:
df_positive = df[df['label'] == 'positive']
df_negative = df[df['label'] == 'negative']
df_neutral = df[df['label'] == 'neutral']

In [10]:
df_positive

                                                    text     label
0      warung ini dimiliki oleh pengusaha pabrik tahu...  positive
2      lokasi strategis di jalan sumatera bandung . t...  positive
3      betapa bahagia nya diri ini saat unboxing pake...  positive
5      makanan beragam , harga makanan di food stall ...  positive
7      tempat unik , bagus buat foto , makanan enak ,...  positive
...                                                  ...       ...
10992  kalau memang jala nya sudah begitu terima saja...  positive
10994                                        tidak bosan  positive
10995                                       tidak kecewa  positive
10996  enak rasa masakan nya apalagi kepiting yang me...  positive
10999  meskipun sering belanja ke yogya di riau junct...  positive

[6416 rows x 2 columns]

In [11]:
df_negative

                                                    text     label
4      duh . jadi mahasiswa jangan sombong dong . kas...  negative
6      pakai kartu kredit bca tidak untung malah rugi...  negative
10     simcard indosat inaktiv gara-gara lupa isi pul...  negative
11     sifat iri sering muncul pada orang orang yang ...  negative
13     pengalaman bersama indosat hari ini , semoga t...  negative
...                                                  ...       ...
10982  tolong dibaca pesan saya ! di dalam kotak hand...  negative
10985  sumpah gue kecewa banget dengan sms , cuma tea...  negative
10989  tadinya pengin mengantar teman dari kalau ke r...  negative
10991                                dapat rom awal abad  negative
10998  pagi pagi di tol pasteur sudah macet parah , b...  negative

[3436 rows x 2 columns]

In [61]:
df_neutral

      index                                               text    label
0         1  mohon ulama lurus dan k212 mmbri hujjah partai...  neutral
1        16  setiap bumn dibentuk dengan uu bukan dibentuk ...  neutral
2        28  pdip sebut ridwan kamil menang karena berbaju ...  neutral
3        32  08:30 : kedatangan presiden ri dan rombongan d...  neutral
4        37  risma menjatuhkan pilihan nya pada gus ipul - ...  neutral
...     ...                                                ...      ...
1143  10925  pkb benarkan charly setia band daftar jadi caw...  neutral
1144  10967  pernah percaya kalau body lotion citra bikin b...  neutral
1145  10969  bu susi marah , menteri luhut perbolehkan kapa...  neutral
1146  10993  f - demokrat dorong upaya kemandirian energi n...  neutral
1147  10997        hormati partai-partai yang telah berkoalisi  neutral

[1148 rows x 3 columns]

In [67]:
new_df_positive = df_positive.sample(1148)
new_df_positive

                                                    text     label
10695  kafe nya kalau dari luar keliatan nya kecil . ...  positive
3442   dari nama nya sudah cukup menggelitik , ada di...  positive
767    ozt merupakan salah satu kafe yang lumayan ban...  positive
6299   di sini lebih baik datang nya malam saja , kar...  positive
9726   sewaktu kita pergi restoran nya cukup sepi , m...  positive
...                                                  ...       ...
2454   porsi nya sedikit , rasanya lumayan , harga ny...  positive
7789   sekarang , sinyal nya masih bagusan kak , pake...  positive
4428   rumah makan zaman dahulu namun rasa tetap sama...  positive
10436  kopi nya enak dan sangat terjangkau , makanan ...  positive
2577   waktu liburan tahun baru ke sana nyobain ramen...  positive

[1148 rows x 2 columns]

In [66]:
new_df_negative = df_negative.sample(1148)
new_df_negative

                                                    text     label
10487  pilgub kemarin banyak boong nya , hasil nya di...  negative
3092   hti , wahabi , pks , fpi ikut2an menyerbu kiai...  negative
4628            malas makan oreo , suka bikin gigi hitam  negative
7660   lagi asik menonton di bioskop ada iklan pemeri...  negative
8399   adeh . di mana letak muka nya itu orang . tida...  negative
...                                                  ...       ...
8439   ya , saya sudah hubungan via halo bca . namun ...  negative
7652   bagian paling menyebalkan dari politik di indo...  negative
361    selamatkan anggota kami . anggota pki adalah a...  negative
6912   telkomsel hayoloh pulsa aku tersedot banyak cu...  negative
7749   4 tidak lte indosat di surabaya lemah otak ban...  negative

[1148 rows x 2 columns]

In [68]:
df = new_df_negative.append(new_df_positive, ignore_index = True)
df = df.append(df_neutral, ignore_index = True)
df

C:\Users\muham\AppData\Local\Temp\ipykernel_17600\1328770004.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = new_df_negative.append(new_df_positive, ignore_index = True)
C:\Users\muham\AppData\Local\Temp\ipykernel_17600\1328770004.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_neutral, ignore_index = True)

                                                   text     label
0     pilgub kemarin banyak boong nya , hasil nya di...  negative
1     hti , wahabi , pks , fpi ikut2an menyerbu kiai...  negative
2              malas makan oreo , suka bikin gigi hitam  negative
3     lagi asik menonton di bioskop ada iklan pemeri...  negative
4     adeh . di mana letak muka nya itu orang . tida...  negative
...                                                 ...       ...
3439  pkb benarkan charly setia band daftar jadi caw...   neutral
3440  pernah percaya kalau body lotion citra bikin b...   neutral
3441  bu susi marah , menteri luhut perbolehkan kapa...   neutral
3442  f - demokrat dorong upaya kemandirian energi n...   neutral
3443        hormati partai-partai yang telah berkoalisi   neutral

[3444 rows x 2 columns]

In [69]:
df.to_csv('fixed_dataset.csv')